
        .carouselMenu1, .carouselMenu2, .carouselMenu3, .carouselMenu4, .carouselMenu5, .carouselMenu6 {
            margin:0;
            padding:0;
            list-style:none;
        }
        
        li {
            text-align:center;
        }
        
        li span {
            display:block;
            margin:5px;
            background:red;
        }
        
        .nextMenu1, .nextMenu2, .nextMenu3, .nextMenu4, .nextMenu5, .nextMenu6 {
            cursor:pointer;
            position: absolute;
            margin-top: -190px;	
            margin-left: 721px;
        }
        
        .prevMenu1, .prevMenu2, .prevMenu3, .prevMenu4, .prevMenu5, .prevMenu6{
        	cursor:pointer;
	        position: absolute;
	        margin-top: -190px;
	        margin-left: -16px;
        }


        #elemento1{
        	background: url("../images/fondo_casosex.png") no-repeat;
        	background-position-x: 471px;
        	background-position-y: 59px;
	        width: 732px;
	        height: 263px;
	        margin-top: 20px;
	        margin-left: 16px;
        }
        #subelem{
	        float: right;
	        background: url("../images/pleca_titulo.png") no-repeat;
	        background-position-y: 45px;
	        background-position-x: 34px;
			width: 327px;
			height: 263px;
			font-family: "Sonsie One";
			font-size: 13px;
        }
        #subelem h2{
        	font-family: "Sonsie One";
        	font-size: 14px;
	        color: white;
	        margin-top: 53px;
	        margin-left: 82px;
        }
        #div_imgs{
	        float: left;
	        margin-left: 50px;
	        margin-top: 30px;
        }