.carousel {
    margin:0;
    padding:0;
    list-style:none;
}

li {
    text-align:center;
}

li span {
    display:block;
    margin:5px;
    background:red;
}

.next,
.prev {
    cursor:pointer;
}

.carousel-pagination li {
    display:block;
    width:10px;
    height:10px;
    margin-right:5px;
    cursor:pointer;
    float:left;
    background:#333;
}

.carousel-pagination .carousel-pagination-active {
    background:#ff0000;
}