/* A Free Design by Bryant Smith (bryantsmith.com) */



html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background-image: url(../images/background.png), -moz-linear-gradient(top, #245073 0%, #000000 100%);
	background-image: url(../images/background.png),-ms-linear-gradient(top, #5CBEFF -100%, #000000 100%);
	background-image: url(../images/background.png), -o-linear-gradient(top, #5CBEFF -100%, #000000 100%);
	background-image: url(../images/background.png),-webkit-gradient(linear, left top, left bottom, color-stop(-1, #5CBEFF), color-stop(1, #000000));
	background-image: url(../images/background.png),-webkit-linear-gradient(top, #5CBEFF -100%, #000000 100%);
	background-image: url(../images/background.png), linear-gradient(to bottom, #5CBEFF -100%, #000000 100%);
	text-align: left;
	font-family: "Sonsie One";
	font-size: 11px;
	color: #FFFFFF;
}


#menu-item {
	height: 30px;
	padding-bottom: 20px;
	
}


#menu {
	height: 65px;
	width: 100%;
	vertical-align: middle;
	background-image:url(../images/menu.png);
	background-repeat: repeat-x;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	position: absolute;
	z-index: 2;
}

#menu1 {
	margin: 0 20%;
	margin-top: -1%;
	padding-right: 10.6%;
	padding-left: : 2%;
	height: 300px;
	vertical-align: middle;
	width: 41%;
	background-image: url(../images/carton_carrusel.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

#menu2 {
	clear: both;
	margin: 0 20%;
	margin-top: -1%;
	padding-right: 10.6%;
	padding-left: : 2%;
	height: 300px;
	vertical-align: middle;
	width: 41%;
	background-image: url(../images/carton_carrusel.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

#menu3 {
	margin: -1% 20%;
	padding-right: 10.6%;
	padding-left: : 2%;
	height: 300px;
	vertical-align: middle;
	width: 41%;
	background-image: url(../images/carton_carrusel.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}


#menu4 {
	margin: 0 20%;
	padding-right: 10.6%;
	padding-left: : 2%;
	height: 300px;
	vertical-align: middle;
	width: 41%;
	background-image: url(../images/carton_carrusel.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

#menu5 {
	margin: 0 20%;
	padding-right: 10.6%;
	padding-left: : 2%;
	height: 300px;
	vertical-align: middle;
	width: 41%;
	background-image: url(../images/carton_carrusel.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}


#menu6 {
	margin: 0 20%;
	padding-right: 10.6%;
	padding-left: : 2%;
	height: 300px;
	vertical-align: middle;
	width: 41%;
	background-image: url(../images/carton_carrusel.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

#logo{
	//height:50px; 
	padding-top: 10px;
	alig:left;
	
}

*
{
  margin: 0 auto 0 auto;
  text-align:left;  
}

html, body {
text-align: center;
}


p {
text-align: left;
vertical-align: top;
vertical-align: text-top;
font-family: "Sonsie One";
font-style: normal;
font-size: 12px;
text-shadow: 0.2em 0.2em #000;
font-weight: normal;
}

table{
	text-align: justify;
	font-family: "Sonsie One";
	font-style: normal;
	font-size: 12px;
	text-shadow: 0.1em 0.1em #000;
	font-weight: 10;
	margin: 0% 0%; 
}

table.center {
    margin-left:23%;
    margin-top: -2%;
}
  
#page
{
  width:100%;
  //padding-left:20px;
  //padding-right:20px;
}



#header
{
background-repeat:no-repeat;
width:798px;
height:34px;
margin:0 auto 0 auto;
color:#34699F;
text-align:center;
font-style:italic;
}

#pagetop
{
height:70px;
}

#pagetop h1
{
display:block;
float:left;
line-height:90px;
color:#FFFFFF;
text-align:left;
font-size:30px;
font-weight:bold;

float:left;
margin-left:23px;
}

#line{
	margin: 0;
	padding: 0;
	height: 24px;
	vertical-align: middle;
	width: 100%;
	background-image:url(../images/barra.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

#pagetop ul {
	padding-bottom: : 0px;
	margin-left: 20%;
	height:65px;
	text-align:center;
	vertical-align: middle;
	font-family: "Kaushan script";
	width: 800px;
	text-shadow: 0.1em 0.1em #000;
	text-decoration:none;
	
	
}

#pagetop ul li , #pagetop ul li a, #pagetop ul li a:visited{
	display:block;
	float:right;
	margin: 0px;
	text-align:center;
	line-height:65px;
	color:#FFFFFF;
	padding-left:5px;
	padding-right:10px;
	font-size:20px;
	//font-weight:bold;
	text-decoration: none;
	font-style: normal;
}

#pagetop ul li a:hover{
color:#34699F;
}



#main 
{
width:1500px;
//margin-left: 25%;
}



#main .content
{
width:650px;
text-align:justify;
color:#000000;
word-spacing:3px;
}

#main .content p
{
margin-top:8px;
margin-bottom:8px;
}

#main .content h1
{
font-size:19px;
margin-bottom:12px;
}


#animation1
{
margin: 0% 10%
}

#animation2
{

}

#animation3
{


}

#animation4
{
	padding-top: 1%;
}

#animation5
{

height: 225px;
}

#animation6
{

height: 226px;
}

#animation7
{

height: 512px;
}


#caja {
	background: transparent url(../images/cajaS_cerrada.png) 0 0 no-repeat;
	position: absolute;
    width: 52px;
    height: 46px;
}



#caja_tubo01{
	background: transparent url(../images/cajaP_cerrada_53x130.png) 0 0 repeat-y;
	width:53px;
	height: 50px;
	float: right;
	padding-right: 11%;
	position: relative;
	overflow: hidden;
}

#caja_tubo02{
	background: transparent url(../images/cajaP_cerrada.png) 0 0 no-repeat;
	width:53px;
	height: 50px;
	margin-top: -48px;
	margin-left: 298px;
	float: left;
}
/*
#tubo { 
	//background: transparent url(../images/tubo_01.png) 0 0 no-repeat;
	width:249px;
	height: 70%;
	margin-top: 11%;
	float: left;
	position: relative;
}
*/
#tubo_abajo{
	background: transparent url(../images/tubo_abajo.png) 0 0 no-repeat;
	width:115px;
	height: 112px;
	float: left;
	/*margin-top: 18%;
	margin-right: -37%;
	position: relative;
	overflow: hidden;*/
}

#tubo02{
	
	width:137px;
	height: 75px;
	float: right;
	margin-top: 34.2%;
	margin-right: 80%;
	position: relative;
	overflow: hidden;
}

#tubo03{
	width:120px;
	height: 33px;
	float: left;
	margin-left: 22%;
	overflow: hidden;
}


#banda {
	background: transparent url(../images/banda_01.png) 0 0 no-repeat;
	width:144px;
	height: 103px;
	margin-left: 300px;
	margin-top: 277px;
	float: left;
	position: absolute;
}


#banda_04 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	float: left;
	margin-left: -46%;
}

#banda_05 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -35.3%;
	float: left;
}

#banda_06 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -24.6%;
	float: left;
}

#banda_07 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -14%;
	float: left;

}

#tubo_menu3 {
	background: transparent url(../images/tubo_menu3.png) 0 0 no-repeat;
	width:120px;
	height: 153px;
	float: left;
	margin-top: 7%;
	margin-right: -25%;
	margin-left: -19%;
	

}
/*
#tubo_menu3 {
	float: left;
	margin-left: -22%;
	margin-top: 8%;
	z-index: -1;	
}*/

#caja_animacion3 {
	background: url("../images/cajaP_cerrada.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 50px;
    margin-left: 585px;
    margin-top: -47px;
    width: 53px;
}

#maquina_abajo1 {
	
	width:332px;
	height: 56px;
	margin-top: -0.5%;
	padding-left : 23%;
	float: left;
	
}

#tabla_animacion3 {
	float: left;	
	width:30%;
	margin-top: 3.5%;
	margin-left: -25%;
	
}

#tabla_animacion1 {
	float: left;	
	width:40%;
	margin-top: -9.5%;
	margin-left: 31%;
	
}

#tubo_03 {
	
	width:226px;
	height: 108px;
	margin-top: -0.5%;
	float: left;
	z-index: -1;
}

/* Animacion 4 */

#tabla_animacion4 {
	float: left;
	width:30%;
	margin-top: 3.5%;
		
}

#tubo_04 {
	
	width:226px;
	height: 108px;
	margin-top: -0.5%;
	margin-left: 22%;
	float: left;
}

#banda1_animacion4 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -48%;
	float: left;

}

#banda2_animacion4 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -37.3%;
	float: left;

}

#banda3_animacion4 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -26.8%;
	float: left;

}

#maquina_abajo2 {
	//background: transparent url(../images/maquina_abajo.png) 0 0 no-repeat;
	width: 339px;
	height: 56px;
	float: left;
	margin-left: -20%;
	margin-top: -0.5%;
	z-index: -1;
}

#tubo_corto_animacion4 {
	
	width:120px;
	height: 33px;
	margin-top: 12.9%;
	margin-left: -15.4%;
	float: left;
}

#caja_animacion4 {
	background: transparent url(../images/cajaP_cerrada.png) 0 0 no-repeat;
	width:53px;
	height: 50px;
	margin-top: -49px;
	margin-left: 20px;
}


/* end animacion 4 */





/* 	Animacion 5 */

#tabla_animacion5 {
	
	width:482px;
	height: 56px;
	margin-top: -11.5%;
	margin-left: 42%;
	float: left;
	//position: absolute;
	
}

#caja_animacion5 {
	background: transparent url(../images/cajaP_cerrada.png) 0 0 no-repeat;
	width:53px;
	height: 50px;
	margin-top: -48px;
	margin-left: 18px;
	float: left;
}

#banda1_animacion5 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -15.2%;
	float: left;

}

#banda2_animacion5 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -4.8%;
	float: left;

}

#banda3_animacion5 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -0.8%;
	float: left;

}

#banda4_animacion5 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -0.8%;
	float: left;

}

#tubo_05 {
	
	width:226px;
	height: 108px;
	margin-top: -0.5%;
	margin-left: 28%;
	float: left;
}

#tubo_menu5 {
	width:120px;
	height: 153px;
	margin-top: 12%;
	margin-left: 123.3%;
	float: left;

}



/* 	end Animacion 5 */
	



/* 	Animacion 6 */



#caja1_animacion6 {
	background: transparent url(../images/cajaP_cerrada.png) 0 0 no-repeat;
	width:53px;
	height: 50px;
	margin-top: -48px;
	margin-left: 17px;
	float: left;


}

#caja2_animacion6 {
	background: transparent url(../images/cajaP_cerrada.png) 0 0 no-repeat;
	width:53px;
	height: 50px;
	margin-top: -50px;
	margin-left: 639px;
	float: left;
}

#banda1_animacion6 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -10.2%;
	float: left;

}

#banda2_animacion6 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -20.8%;
	float: left;

}

#banda3_animacion6 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -40%;
	float: left;

}

#banda4_animacion6 {
	background: transparent url(../images/banda_simple_02.png) 0 0 no-repeat;
	width:168px;
	height: 32px;
	margin-top: 13%;
	margin-left: -50.8%;
	float: left;

}

#tubo_corto_animacion6 {
	
	width:120px;
	height: 33px;
	margin-top: 12.9%;
	margin-left: -28.4%;
	float: left;
}

#tubo_06 {
	
	width:200px;
	height: 108px;
	margin-top: -0.5%;
	margin-left: 0%;
	float: left;
}

#tubo_07 {
	
	width:200px;
	height: 108px;
	margin-top: -0.5%;
	margin-left: 22%;
	float: left;
}

#maquina_abajo3 {
	
	width: 321px;
	height: 56px;
	float: left;
	margin-top: -0.5%;
}




/* 	end Animacion 6 */
	


#bandaSimple {
	background: transparent url(../images/banda_simple_01.png) 0 0 no-repeat;
	width:144px;
	height:32px;
	float:left;
}


#bandaSimple1 {
	background: transparent url(../images/banda_simple_01.png) 0 0 no-repeat;
	width:144px;
	height:32px;
	float: left;
}

#maquinaAbajo {
	background: transparent url(../images/maquina_abajo.png) 0 0 no-repeat;
	width: 339px;
	height: 56px;
	float: left;
}

#maquinaAbajoMargin {
	margin-top: 10%;
}

#main_machine {
	border: #000000;
	background-color: #ffffff;
}



.buttomRight
{
text-align: justify;
padding-top: 75%;
}


P:first-letter 
{
font-size: 500%;
font-weight: bold;
}


#footer {
display:block;
width: 798px;
height:50px;
text-align:right;
font-size:10px;
line-height:48px;
}

#footer p{
padding-right:75px;
text-align:right;
}

#footer, #footer a, #footer a:visited{
color:#65A9ED;
}

#footer a:hover{
color:#000000;
}

#rightmiddle { 
 float: left;
}

#tubo-z{
	height: 60px;
	overflow: hidden;
	float: left;
	margin-left: 22%;
	
}

#over-caja1{
	width: 75px;
	height: 65px;
	overflow: hidden;
	position: absolute;
	margin-left: 156px;
	margin-top: 385px;
}
#over-caja2{
	width: 370px;
	height: 85px;
	overflow: hidden;
	position: absolute;
	margin-top: -29px;
	border: 2px;
}

#over-caja3{
	height: 162px;
    margin-top: 99px;
    overflow: hidden;
    position: absolute;
    width: 657px;
    margin-left: 200px;
}

#over-caja4{
    height: 97px;
    margin-left: 344px;
    margin-top: 99px;
    overflow: hidden;
    position: absolute;
    width: 581px;
}

#over-caja5{
	height: 209px;
    margin-left: 432px;
    margin-top: 98px;
    overflow: hidden;
    position: absolute;
    width: 752px;
}

#over-caja6{
	width: 715px;
	height: 95px;
	overflow: hidden;
	position: absolute;
	margin-left: 336px;
	margin-top: 101px;
}

#foco {
	background: transparent url(../images/foco.png) 0 0 repeat-y;
	width: 48px;
	height: 68px;
	margin-left: 835px;
	position: absolute;
}

#foco-gen {
	height: 112px;
	width: 1000px;
	overflow: hidden;
	position: absolute;
}

#frame {
	width: 1300px;
	height: 523px;
	margin-left: 193px;
}

#garra {
	background: transparent url(../images/garra_02.png);
	width: 88px;
	height: 327px;
	margin-top: -200px;
	margin-left: 331px;
	position: absolute;
}

#maquina {
	background: transparent url(../images/maquina_anima.png) 0 0 no-repeat;
	width:467px;
	height: 353px;
	position: absolute;
	margin-left: 450px;
	margin-top: 50px;
	position: absolute;
}

#tubo {
	background: transparent url(../images/tubo_01.png) 0 0 no-repeat;
	height: 208px;
	width: 249px;
	margin-top: 180px;
	position: absolute;
}



#caja1{
	background: transparent url(../images/caja.png) 0 0 no-repeat;
	height: 50px;
	width: 53px;
	margin-left: 180px;
	position: absolute;
}

#caja3_animacion1{
	background: transparent url(../images/caja.png) 0 0 no-repeat;
	height: 50px;
	width: 53px;
	margin-left: 7px;
	position: absolute;
	margin-top: -50px;
	
}

#caja1-gen{
	height: 49px;
	margin-left: 591px;
	margin-top: 235px;
	width: 180px;
	overflow: hidden;
	position: absolute;
}

#caja2{
	background: transparent url(../images/caja.png) 0 0 no-repeat;
	height: 50px;
	width: 52px;
	margin-left: 430px;
	margin-top: 150px;
	position: absolute;
}

#caja2-gen{
	height: 200px;
	margin-left: 28px;
	margin-top: 80px;
	width: 430px;
	overflow: hidden;
	position: absolute;
}
